Source: xrdp
Section: x11
Priority: extra
Maintainer: Samuel Bovée <samuel@ulteo.com>
Build-Depends: debhelper (>= 5), cdbs, quilt,
 python (>= 2.5), python-central, python-svn
 libxml2-dev, libx11-dev, libxfixes-dev, libssl-dev, libpam0g-dev, libpulse-dev,
 libcupsys2-dev | libcups2-dev, libltdl3-dev, libfuse-dev
Standards-Version: 3.8.3

Package: xrdp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= 2.5)
Recommends: xfonts-base, xfonts-encodings
Description: RDP server for Linux
 Xrdp is a RDP server for Linux. It provides remote display of a desktop and
 many other features such as:
  * seamless display
  * printer and local device mapping

Package: xrdp-seamrdp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xrdp
Description: Seamless XRDP Shell
 Seamlessrdpshell is a rdp addon offering the possibility to have an
 application without a desktop

Package: xrdp-printer
Architecture: all
Depends: python (>= 2.5), xrdp, ghostscript, cupsys
Description: cups file converter to ps format
 Xrdpi-Printer convert a ps file from cups in ps

Package: xrdp-sound
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xrdp, pulseaudio,
 alsa-base, alsa-utils, libasound2-plugins
Description: XRDP plugin for PulseAudio
 This package contains the XRDP plugin for PulseAudio, a sound server for POSIX
 and WIN32 systems.

Package: xrdp-python
Section: python
Architecture: all
Depends: python (>= 2.5), xrdp
Description: Python API for XRDP
 XRDP-Python is a Python wrapper for XRDP
