Source: xrdp
Section: x11
Priority: extra
Maintainer: Jeremy Desvages <jeremy@ulteo.com>
Build-Depends: debhelper (>= 5), cdbs, libx11-dev, libxfixes-dev, libssl-dev, libpam0g-dev, libssl-dev, quilt
Standards-Version: 3.8.3

Package: xrdp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cups2all
Description: RDP server for linux
 Xrdp is a RDP server for linux. It provides remote display of a desktop and
 many other features such as:
  * seamless display
  * printer and local device mapping
