Source: python-xrdp
Section: net
Priority: extra
Maintainer: Jeremy Desvages <jeremy@ulteo.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.3

Package: python-xrdp
Architecture: all
Depends: python2.5, xrdp (>=0.5.0-0ulteo0.2)
Description: Python-XRDP API
 Python-XRDP API
