Source: python-xrdp
Section: x11
Priority: extra
Maintainer: Samuel Bovée <samuel@ulteo.com>
Build-Depends: debhelper (>= 5), cdbs,
 python (>= 2.5), python-central, python-svn
Standards-Version: 3.7.3

Package: python-xrdp
Section: python
Architecture: all
Depends: python (>= 2.5), xrdp
Description: Python API for XRDP
 Python-XRDP is a Python wrapper for XRDP, the RDP server for Linux
